<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    {% block head %}    
        {% block title %}Spisak korisnika{% endblock %}
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    {% block main %}
    <div class="container">
        <div class="container-svi-korisnici">
            <h1 class="title-div">Spisak proizvoda</h1>
            {% for proizvod in svi_proizvodi %}
                <div class="admin-list">
                    <p>{{ proizvod.get_naziv() }}</p>
                    <p>{{ proizvod.get_cena() }}</p>                    
                    <p id="u_prodaji">U prodaji: {{ proizvod.get_u_prodaji() }}</p>
                    <form action="/lager_forma" method="POST">
                        <input type="hidden" name="proizvod_id" value="{{ proizvod.get_id() }}">
                        <input type="submit" value="Dodaj na lager">
                    </form>
                    <a href="/update_proizvod/{{ proizvod.get_id() }}">Izmeni vrednosti</a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>