<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    {% block head %}
	{% block title %}
    Korpa - Python Fashion
	{% endblock %}
	{% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    {% block main %}
    <div class="container">
        <div class="container-korpa">
            <div class="title-div">
                <h1>Korpa</h1>
            </div>
            {% if proizvodi_za_prikazivanje  %}
                {% for st in proizvodi_za_prikazivanje %}                           
                    <div class="stavka-korpe">
                        <div class="korpa-left">
                            <img src="{{ url_for('static', filename=st[0][4]) }}" alt="slika nedostupna">
                        </div>
                        <div class="korpa-right">
                            <p>Proizvod: {{ st[0][1] }}</p>                      
                            <span class="kolicina-korpa">Kolicina: <a href="/kolicina_minus/{{ st[1][0] }}">-&nbsp; </a>{{ st[1][2] }}<a href="/kolicina_plus/{{ st[1][0] }}">&nbsp; +</a></span><br>
                            <p>Velicina: {{ st[1][2] }}</p>
                        </div>
                        <a class="delete-stavka-button" href="/delete_stavka_korpe/{{ st[1][0] }}">Obrisi</a>                    
                    </div>            
                {% endfor %}
                <div class="kupi-dugme">
                    <a href="/kupi">Kupi</a>
                </div>                
            {% else %}
                <h3>Korpa je prazna</h3>
                <p>Istoriju kupovine mozete videti na Vasem profilu</p>
            {% endif %}            
        </div>    
    </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>