<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    {% block head %}
	{% block title %}
	Ponuda - Python Fashion
	{% endblock %}
	{% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    
    {% block main %}    
    <main>
        <div class="products-page-container">            
            <div class="container">
                <h1>Svi proizvodi</h1>
                <div class="all-products-options">
                    <form class="sortiraj-forma" action="/products_all" method="POST">
                        <label for="kriterijum">Sortiraj po &nbsp;</label>
                        <select name="kriterijum" onchange="this.form.submit()">
                            <option value=""> </option>
                            <option value="cena-rastuca">Ceni &uarr; </option>
                            <option value="cena-opadajuca">Ceni &darr; </option>
                            <option value="naziv-rastuci">Nazivu (A-Z) </option>
                            <option value="naziv-opadajuci">Nazivu (Z-A) </option>
                        </select>
                    </form>
                </div>
                <div class="row">
                    {% for product in all_products %}                    
                        <div class=" product">                            
                                <a href="/proizvod/{{ product.get_id() }}">
                                    <div class="product-image">
                                        <img src="{{ url_for('static', filename=product.get_url_slike()) }}" alt="">
                                    </div>
                                    <div class="product-name-price">
                                        <h2>{{ product.get_naziv() }}</h2>
                                        <p>{{ product.get_cena() }} din</p>
                                    </div>
                                </a>                            
                        </div>                    
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
    

    {% block footer %}
    {% endblock %}
</body>
</html>